@import "syntax-variables";

/* CSS Comment */
atom-text-editor {
    background-color: @syntax-background-color;
    color: @syntax-text-color;

    .invisible-character {
        color: @syntax-invisible-character-color;
        opacity: .5;
    }

    .gutter {
        background-color: @syntax-gutter-background-color;
        color: @syntax-gutter-text-color;
    }

    .gutter .line-number.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
    }

    .gutter .line-number.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
    }

    .wrap-guide {
        width: 1px;
        background-color: @syntax-wrap-guide-color;
        opacity: 0.6;
    }

    .indent-guide {
        color: @syntax-indent-guide-color;
    }

    .search-results .syntax--marker .region {
        background-color: transparent;
        border: @syntax-result-marker-color;
    }

    .search-results .syntax--marker.current-result .region {
        border: @syntax-result-marker-color-selected;
    }

    .selection .region {
        background-color: @syntax-selection-color;
    }

    .line.cursor-line {
        background-color: lighten(@syntax-background-color, 3%);
    }

    .wrap-guide {
        width: 1px;
        background-color: @syntax-wrap-guide-color;
        opacity: 0.6;
    }
}


/** CONSTANTS are orange, string is yellow **/
.syntax--comment {
    color: @gray;
}

.syntax--string {
    color: @light-yellow;
}

.syntax--constant {
    color: @orange;
    font-weight: bold;
}
.syntax--constant.syntax--numeric,
.syntax--constant.syntax--language,
.syntax--constant.syntax--character,
.syntax--constant.syntax--other {

}

/** VARIABLES **/
.syntax--variable {

}
.syntax--variable.syntax--parameter {
    color: @light-purple;
    font-style: italic;
}

.syntax--variable.syntax--language.syntax--namespace {

}

.syntax--variable.syntax--other {

}
/** KEYWORDS - bold red */
.syntax--keyword {
    color: @red;
    font-weight: bold;
}

/** STORAGE - cyan **/
.syntax--storage {
    color: @red;
}

.syntax--storage.syntax--type {
    color: @green;
    font-style: italic;
}

/** ENTITIES - blue **/
.syntax--entity {
    color: @blue;
}
.syntax--entity.syntax--name {

}
.syntax--entity.syntax--name.syntax--class {
    text-decoration: underline;
}
.syntax--entity.syntax--name.syntax--tag {
    color: @light-blue;
}
.syntax--entity.syntax--other {

}
.syntax--entity.syntax--other.syntax--inherited-class {
    font-style: italic;
    text-decoration: underline;
}
.syntax--entity.syntax--other.syntax--attribute-name.syntax--class {

}

.syntax--support.syntax--function {
    color: @cyan;
}
.syntax--support.syntax--function.syntax--magic {
    font-style: italic;
}
.syntax--support.syntax--function.syntax--misc {

}

/** SUPPORT - purple **/
.syntax--support {
    color: @light-purple;
}
.syntax--support.syntax--punctuation {
    color: @syntax-text-color;
}
.syntax--support.syntax--constant {
    color: @orange;
}
.syntax--support.syntax--type {
    font-style: italic;
}
.syntax--support.syntax--namespace {
    text-decoration: underline;
}
.syntax--support.syntax--class {

}
.syntax--support.syntax--other.syntax--variable {

}
.syntax--support.syntax--other.syntax--namespace {

}
.syntax--support.syntax--other.syntax--namespace.syntax--use-as.syntax--php {
    font-style: italic;
}

/** PUNCTUATION **/
.syntax--punctuation.syntax--separator.syntax--inheritance {

}

/** META **/
.syntax--meta.syntax--function-call {

}
.syntax--meta.syntax--function-call.syntax--object {
    font-style: italic;
}
.syntax--meta.syntax--function-call.syntax--other {

}
.syntax--meta.syntax--tag.syntax--template.syntax--value {

}
.syntax--meta.syntax--tag.syntax--template.syntax--block {

}
.syntax--meta.syntax--embedded.syntax--echo {
    background-color: @dark-gray;
}

/** INVALID **/
.syntax--invalid {
    color: @very-light-gray;
    background-color: @red;
}
.syntax--invalid .syntax--deprecated {
    color: @dark-gray;
    background-color: @light-red;
}

/** HTML **/
.syntax--entity.syntax--name.syntax--tag.syntax--html {
    color: @red;
}
.syntax--entity.syntax--other.syntax--attribute-name.syntax--html {
    color: @orange;
}
.syntax--string.syntax--quoted.syntax--single.syntax--html {
    color: @yellow;
}
.syntax--punctuation.syntax--section.syntax--embedded.syntax--begin.syntax--php,
.syntax--punctuation.syntax--section.syntax--embedded.syntax--end.syntax--php {
    color: @cyan;
    font-weight: bold;
}
.syntax--meta.syntax--tag.syntax--doctype.syntax--html {
    color: @cyan;
    font-weight: bold;
}

/** JSON **/
.syntax--meta.syntax--structure.syntax--dictionary.syntax--json .syntax--string.syntax--double.syntax--quoted.syntax--json,
.syntax--meta.syntax--structure.syntax--dictionary.syntax--json .syntax--punctuation.syntax--definition.syntax--string.syntax--json {
    color: @light-blue;
}
.syntax--meta.syntax--structure.syntax--dictionary.syntax--value.syntax--json .syntax--string.syntax--double.syntax--quoted.syntax--json,
.syntax--meta.syntax--structure.syntax--dictionary.syntax--value.syntax--json .syntax--punctuation.syntax--definition.syntax--string.syntax--json {
    color: @orange;
}
.syntax--punctuation.syntax--json {

}
/** JS **/
.syntax--punctuation.syntax--definition.syntax--string.syntax--js,
.syntax--entity.syntax--name.syntax--function.syntax--js {
    color: @blue;
}

/** CSS **/
.syntax--entity.syntax--other.syntax--attribute-name.syntax--class.syntax--css {
    color: @light-blue;
}
.syntax--support.syntax--type.syntax--property-name.syntax--css {
    color: @cyan;
}

/** OTHER **/
.syntax--focusable-panel {
    opacity: 1;
    box-shadow: inset -3px 0 0 rgba(0,0,0, .05);
}

.syntax--source.syntax--gfm .syntax--markup {
    -webkit-font-smoothing: auto;
    &.syntax--heading {
        color: @syntax-color-added;
    }
}

/** git updates **/
.syntax--git-line-added,
.syntax--git-line-added:before {
    color: @syntax-color-added;
    opacity: 1;
}
.syntax--git-line-modified,
.syntax--git-line-modified:before {
    color: @syntax-color-modified;
    opacity: 1;
}
.syntax--git-line-removed,
.syntax--git-line-removed:before {
    color: @syntax-color-removed;
    opacity: 1;
}
