@import "syntax-variables";

atom-text-editor, :host { /* :host added */
    background-color: @syntax-background-color;
    color: @syntax-text-color;

    .invisible-character {
        color: @syntax-invisible-character-color;
        opacity: .5;
    }

    .gutter {
        background-color: @syntax-gutter-background-color;
        color: @syntax-gutter-text-color;
    }

    .gutter .line-number.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
    }

    .gutter .line-number.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
    }

    .wrap-guide {
        color: @syntax-wrap-guide-color;
        opacity: 0.8;
    }

    .indent-guide {
        color: @syntax-indent-guide-color;
    }

    .search-results .marker .region {
        background-color: transparent;
        border: @syntax-result-marker-color;
    }

    .search-results .marker.current-result .region {
        border: @syntax-result-marker-color-selected;
    }
}

atom-text-editor.is-focused {
    .cursor {
        border-color: @syntax-cursor-color;
    }

    .selection .region {
        background-color: @syntax-selection-color;
    }
}

/** CONSTANTS are orange, string is yellow **/
.comment {
    color: @gray;
}

.string {
    color: @light-yellow;
}

.constant {
    color: @orange;
    font-weight: bold;
}
.constant.numeric,
.constant.language,
.constant.character,
.constant.other {

}

/** VARIABLES **/
.variable {

}
.variable.parameter {
    color: @light-purple;
    font-style: italic;
}

.variable.language.namespace {

}

.variable.other {

}
/** KEYWORDS - bold red */
.keyword {
    color: @red;
    font-weight: bold;
}

/** STORAGE - cyan **/
.storage {
    color: @cyan;
}

.storage.type {
    font-style: italic;
}

/** ENTITIES - blue **/
.entity {
    color: @blue;
}
.entity.name {

}
.entity.name.class {
    text-decoration: underline;
}
.entity.name.tag {
    color: @light-blue;
}
.entity.other {

}
.entity.other.inherited-class {
    font-style: italic;
    text-decoration: underline;
}
.entity.other.attribute-name.class {

}

.support.function {
    color: @cyan;
}
.support.function.magic {
    font-style: italic;
}
.support.function.misc {

}

/** SUPPORT - purple **/
.support {
    color: @light-purple;
}
.support.punctuation {
    color: @syntax-text-color;
}
.support.constant {
    color: @orange;
}
.support.type {
    font-style: italic;
}
.support.namespace {
    text-decoration: underline;
}
.support.class {

}
.support.other.variable {

}
.support.other.namespace {

}
.support.other.namespace.use-as.php {
    font-style: italic;
}

/** PUNCTUATION **/
.punctuation.separator.inheritance {

}

/** META **/
.meta.function-call {

}
.meta.function-call.object {
	font-style: italic;
}
.meta.function-call.other {

}
.meta.tag.template.value {

}
.meta.tag.template.block {

}
.meta.embedded.echo {
    background-color: @dark-gray;
}

/** INVALID **/
.invalid {
    color: @very-light-gray;
    background-color: @red;
}
.invalid .deprecated {
	color: @dark-gray;
	background-color: @light-red;
}

/** HTML **/
.entity.name.tag.html {
    color: @green;
}
.punctuation.definition.tag.html {
    //color: @green;
}
.entity.other.attribute-name.html {
    color: @orange;
}
.string.quoted.single.html {
    color: @yellow;
}
.punctuation.section.embedded.begin.php,
.punctuation.section.embedded.end.php {
    color: @light-blue;
    font-style: italic;
}
.meta.tag.doctype.html {
    color: @green;
    font-style: italic;
}

/** JSON **/
.meta.structure.dictionary.json .string.double.quoted.json,
.meta.structure.dictionary.json .punctuation.definition.string.json {
    color: @light-blue;
}
.meta.structure.dictionary.value.json .string.double.quoted.json,
.meta.structure.dictionary.value.json .punctuation.definition.string.json {
    color: @orange;
}
.punctuation.json {

}
/** JS **/
.punctuation.definition.string.js,
.entity.name.function.js {
    color: @blue;
}

/** CSS **/
.entity.other.attribute-name.class.css {
    color: @light-blue;
}
.variable.other.less {
    //color: @light-purple;
}
.support.type.property-name.css {
    color: @green;
}

/** OTHER **/
.focusable-panel {
    opacity: 1;
    box-shadow: inset -3px 0 0 rgba(0,0,0, .05);
}

.source.gfm .markup {
    -webkit-font-smoothing: auto;
    &.heading {
        color: @light-green;
    }
}

/** git updates **/
.git-line-added,
.git-line-added:before
 {
    color: @green;
    opacity: 1;
}
.git-line-modified,
.git-line-modified:before {
    color: @yellow;
    opacity: 1;
}
.git-line-removed,
.git-line-removed:before {
    color: @red;
    opacity: 1;
}
