@very-light-gray: #f6f6f6;
@light-gray: #dedede;
@gray: #6d6d6d;
@dark-gray: #404050;
@very-dark-gray: #262626;

@red: #f63249;
@orange: #fc9354;
@yellow: #f0c12a;
@green: #90dd6b;
@cyan: #73c3d2;
@blue: #2e98e2;
@purple: #F92672;

@light-red: #D66990;
@light-orange: #FAB85A;
@light-yellow: #FFEE99;
@light-green: #a6dd6b;
@light-cyan: #8ecfdb;
@light-blue: #97d8ea;
@light-purple: #FFB2F9;
