@very-light-gray: #f6f6f6;
@light-gray: #dedede;
@gray: #6d6d6d;
@dark-gray: #3C3B37;
@very-dark-gray: #262626;

@red: #F74A5F;
@orange: #F78C4A;
@yellow: #F7E34A;
@green: #8AF74A;
@cyan: #4AF7B7;
@blue: #4A8AF7;
@purple: #8C4AF7;

@light-red: #FBA2CB;
@light-orange: #FBCAA2;
@light-yellow: #FBEBA2;
@light-green: #C5FBA2;
@light-cyan: #A2FBEB;
@light-blue: #A2C0FB;
@light-purple: #DDA2FB;
